chris_utils/safe/mos-object-types.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:sdf="http://www.gael.fr/2004/12/drb/sdf"
           xmlns:xs ="http://www.w3.org/2001/XMLSchema"
           xmlns    ="http://www.esa.int/safe/1.2/mos"

           targetNamespace="http://www.esa.int/safe/1.2/mos">

   <xs:complexType name="auxiliaryDataType">
      <xs:annotation>
         <xs:documentation xml:lang="en">
            Auxiliary Data Type.
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
               <sdf:encoding>BINARY</sdf:encoding>
               <sdf:length>40</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>

         <xs:element name="year" type="xs:unsignedInt">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  Year of data acquisition.
               </xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:encoding>BINARY</sdf:encoding>
                     <sdf:length>4</sdf:length>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>

         <xs:element name="day" type="xs:unsignedInt">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  # of days from the current year.
               </xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:encoding>BINARY</sdf:encoding>
                     <sdf:length>4</sdf:length>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>

         <xs:element name="hours" type="xs:unsignedInt">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  # of hours from midnight.
               </xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:encoding>BINARY</sdf:encoding>
                     <sdf:length>4</sdf:length>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>

         <xs:element name="minutes" type="xs:unsignedInt">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  # of minutes.
               </xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:encoding>BINARY</sdf:encoding>
                     <sdf:length>4</sdf:length>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>

         <xs:element name="seconds" type="xs:unsignedInt">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  # of seconds.
               </xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:encoding>BINARY</sdf:encoding>
                     <sdf:length>4</sdf:length>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>

         <xs:element name="milliseconds" type="xs:unsignedInt">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  # of milliseconds.
               </xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:encoding>BINARY</sdf:encoding>
                     <sdf:length>4</sdf:length>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>

         <xs:element name="microseconds" type="xs:unsignedInt">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  # of microseconds.
               </xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:encoding>BINARY</sdf:encoding>
                     <sdf:length>4</sdf:length>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>

         <xs:element name="satelliteTime" type="xs:double">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  Swath time in milliseconds and part of them from the
                  beginning of the year.
               </xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:encoding>BINARY</sdf:encoding>
                     <sdf:offset>4</sdf:offset>
                     <sdf:length>8</sdf:length>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="pcdType">
      <xs:sequence>

         <xs:element name="pcdPerLine" type="pcdPerLineType"
                     minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  522 TLM bits per line.
               </xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:encoding>BINARY</sdf:encoding>
                     <sdf:length unit="bit">522</sdf:length>
                     <sdf:occurrence>unbounded</sdf:occurrence>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="pcdPerLineType">
      <xs:sequence>

         <xs:element name="data" type="xs:unsignedByte"
                     minOccurs="522" maxOccurs="522">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  TLM bit.
               </xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:encoding>BINARY</sdf:encoding>
                     <sdf:length unit="bit">1</sdf:length>
                     <sdf:occurrence>522</sdf:occurrence>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>

      </xs:sequence>
   </xs:complexType>

</xs:schema>
